@tailwind base;
@tailwind components;
@tailwind utilities;

label.required:after {
    content:"*";
}

.tab {
    &-active {
        @apply text-white border-primary bg-primary hover:bg-primary-hover focus:bg-primary-hover active:bg-primary-pressed shadow-md;
    }

    &-inactive {
        @apply text-primary-focused border-gray-light hover:bg-violet-100 focus:bg-violet-100;
    }
}

.hero-rectangles-bg {
    &::before {
        position: absolute;
        top: -2.5rem;
        right: -3rem;
        //z-index: 0;
        //display: block;
        aspect-ratio: 1 / 1;
        width: 33.333333%;
        border-radius: 0.25rem;
        //--tw-bg-opacity: 1;
        background-color: rgb(237 222 186 / var(--tw-bg-opacity));
        //--tw-content: '';
        content: var(--tw-content);
    }

    &::after {
        position: absolute;
        bottom: -2.5rem;
        left: -2.5rem;
        //z-index: 0;
        //display: block;
        aspect-ratio: 1 / 1;
        height: 50%;
        width: 66.666667%;
        border-radius: 0.25rem;
        //--tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        //--tw-content: '';
        content: var(--tw-content);
    }
}
